body {
    width: 1440px;
    background: hsl(233, 47%, 7%)
}

main {
    display: inline-block;
    margin-left: 10%;
    max-width: 500px;
    margin-top: 100px;
    background-color: hsl(244, 38%, 16%);
    padding: 50px;
    border-radius: 10px 0 0 10px;  
}

.main-image {
    width: 25%;  
} 

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26pt;
    color: white;
}

p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 200;
}

ul {
    color: white;
    list-style: none;
    padding: 0;
}

.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.list span {
    font-size: 1.2em;
}