*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

body {
    width: 1340px;
    background: hsl(243, 47%, 7%)
}

.flex-container {
    display: flex;
    margin: 130px 200px;
}

.left-box {
    background-color: hsl(244, 38%, 16%);
    padding: 50px;
    border-radius: 10px 0 0 10px;  
}

.right-box {
    background: #663985;
    height: 380px;
    border-radius: 0 10px 10px 0;
} 

.main-image {
    height: 380px;
    filter: opacity(0.4);
    border-radius: 0 10px 10px 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26pt;
    color: white;
    margin-bottom: 28px;   
}

main h1 span {
    color: #A85EDB;
}

p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 200;
    word-spacing: 1.2px;
    line-height: 23px;
    margin-bottom: 40px;
}

ul {
    color: white;
    list-style: none;
    display: flex;
}

.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.list span {
    font-size: 1.2em;
}

footer {
    margin: 100px auto;
}

.attribution {
    color: aliceblue;
}